<style>
  body {
      background-color: {{bgcolor}};
  }
</style>
<div>{{names}}</div>
<div>{{compliments}}</div>

<form action="/" method="post">
  <label for="add_compliment">Add a compliment</label>
  <input id="add_compliment" type="text" name="add_compliment">
  <input type="submit">
</form>
